<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>RPS Result</title>
	<link rel="stylesheet" href="result.css">
</head>
<body>
	<h1><%= @outcome %></h1>
	<p><%= @player_name%></p>
	<p>Win: <%= @win%> Draw: <%= @draw%> Lose: <%= @lose%></p>
	<a href="/">Play again</a> 
</body>
</html>